
div {
	background-image: url('img/background-image.jpg');
    background-repeat: repeat; 
    background-position: center;
    background-attachment: fixed;
  }

header ul {
	margin: 0px;
	padding: 0px;
	background-color: gray;
	text-transform: uppercase;
	line-height: 30px;
}

header li {
	display: inline-block;
	width: 150px;
}

a {
	color: rgb(0,255,255);
}

body>img {
	width: 100%;
}

table {
	width: 1200px;
	background-color: white;
	border-spacing: 5px;
}


th {
	height: 100px;
	font-size: 50px;
	color: red;
}

td {
	width: 300px;
	height: 80px;
	text-align: center;
}

td img {
	height: 80px;
}

p {
	display: none;
}

td:hover p {
	display: inline;
}

tbody tr:nth-child(odd) td {
	background-color: yellow;
}

tbody tr:nth-child(even) td {
	background-color: orange;
}

tbody tr:last-child td {
	background-color: white;
}

form {
	width: 400px;
	margin: 20px auto;
	padding: 20px;
	border: solid 3px gray;
	background-color: #e1e1e1;
	text-align: left;
}

 form input:not([type="submit"]), label, textarea {
	display: block;
	height: 15px;
	margin-bottom: 5px;
	border-collapse: collapse;
	border-radius: 5px;
	width: 100%;
	outline: none;
}

 form input[type="submit"] {
	cursor: pointer;
	height: 30px;
	background-color: orange;
	text-transform: uppercase;
}

 form input[type="checkbox"] {
	width: 20%;
}

textarea {
	height: 40px;
}

.tforma {
	width: 400px;
}

table.tforma td {
	height: 20px;
	text-align: left;
}

footer {
	background-color: rgb(20,20,20);
	line-height: 30px;
}

footer ul {
	margin: 0 auto;
	color: rgb(0,255,255);
	width: 400px;
	list-style-position: inside;
} 

footer ul li {
	display: inline-block;
	width: 30%;
	padding: 0px 5px;
}

footer img {
	background-color: inherit;
	display: block;
	margin: 0 auto;
}